# Entornos virtuales
env/
venv/
ENV/
*.pyc
_pycache_/
*.pyo
*.pyd
*.sqlite3

# Archivos de configuración locales
*.env
*.log
*.pot
*.py[cod]
*~ 
.DS_Store
.idea/
.vscode/

# Archivos de Django
db.sqlite3
/media/
staticfiles/

# Archivos de migraciones que no quieras subir (opcional, aunque muchos sí los suben)
*/migrations/_pycache_/
/migrations/.pyc
/migrations/.pyo

# Archivos de compilación / paquetes
*.egg
*.egg-info/
dist/
build/
.eggs/

# Archivos de testing/coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Archivos de Git
.gitignore

